
@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 100;
	font-style: normal;
	src: url('woff2/iosevka-etoile-thin.woff2') format('woff2'), url('woff/iosevka-etoile-thin.woff') format('woff'), url('ttf/iosevka-etoile-thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 100;
	font-style: oblique;
	src: url('woff2/iosevka-etoile-thinoblique.woff2') format('woff2'), url('woff/iosevka-etoile-thinoblique.woff') format('woff'), url('ttf/iosevka-etoile-thinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-weight: 100;
	src: url('woff2/iosevka-etoile-thinoblique.woff2') format('woff2'), url('woff/iosevka-etoile-thinoblique.woff') format('woff'), url('ttf/iosevka-etoile-thinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 100;
	font-style: italic;
	src: url('woff2/iosevka-etoile-thinitalic.woff2') format('woff2'), url('woff/iosevka-etoile-thinitalic.woff') format('woff'), url('ttf/iosevka-etoile-thinitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 200;
	font-style: normal;
	src: url('woff2/iosevka-etoile-extralight.woff2') format('woff2'), url('woff/iosevka-etoile-extralight.woff') format('woff'), url('ttf/iosevka-etoile-extralight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 200;
	font-style: oblique;
	src: url('woff2/iosevka-etoile-extralightoblique.woff2') format('woff2'), url('woff/iosevka-etoile-extralightoblique.woff') format('woff'), url('ttf/iosevka-etoile-extralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-weight: 200;
	src: url('woff2/iosevka-etoile-extralightoblique.woff2') format('woff2'), url('woff/iosevka-etoile-extralightoblique.woff') format('woff'), url('ttf/iosevka-etoile-extralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 200;
	font-style: italic;
	src: url('woff2/iosevka-etoile-extralightitalic.woff2') format('woff2'), url('woff/iosevka-etoile-extralightitalic.woff') format('woff'), url('ttf/iosevka-etoile-extralightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 300;
	font-style: normal;
	src: url('woff2/iosevka-etoile-light.woff2') format('woff2'), url('woff/iosevka-etoile-light.woff') format('woff'), url('ttf/iosevka-etoile-light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 300;
	font-style: oblique;
	src: url('woff2/iosevka-etoile-lightoblique.woff2') format('woff2'), url('woff/iosevka-etoile-lightoblique.woff') format('woff'), url('ttf/iosevka-etoile-lightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-weight: 300;
	src: url('woff2/iosevka-etoile-lightoblique.woff2') format('woff2'), url('woff/iosevka-etoile-lightoblique.woff') format('woff'), url('ttf/iosevka-etoile-lightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 300;
	font-style: italic;
	src: url('woff2/iosevka-etoile-lightitalic.woff2') format('woff2'), url('woff/iosevka-etoile-lightitalic.woff') format('woff'), url('ttf/iosevka-etoile-lightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 400;
	font-style: normal;
	src: url('woff2/iosevka-etoile-regular.woff2') format('woff2'), url('woff/iosevka-etoile-regular.woff') format('woff'), url('ttf/iosevka-etoile-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 400;
	font-style: oblique;
	src: url('woff2/iosevka-etoile-oblique.woff2') format('woff2'), url('woff/iosevka-etoile-oblique.woff') format('woff'), url('ttf/iosevka-etoile-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-weight: 400;
	src: url('woff2/iosevka-etoile-oblique.woff2') format('woff2'), url('woff/iosevka-etoile-oblique.woff') format('woff'), url('ttf/iosevka-etoile-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 400;
	font-style: italic;
	src: url('woff2/iosevka-etoile-italic.woff2') format('woff2'), url('woff/iosevka-etoile-italic.woff') format('woff'), url('ttf/iosevka-etoile-italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 500;
	font-style: normal;
	src: url('woff2/iosevka-etoile-medium.woff2') format('woff2'), url('woff/iosevka-etoile-medium.woff') format('woff'), url('ttf/iosevka-etoile-medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 500;
	font-style: oblique;
	src: url('woff2/iosevka-etoile-mediumoblique.woff2') format('woff2'), url('woff/iosevka-etoile-mediumoblique.woff') format('woff'), url('ttf/iosevka-etoile-mediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-weight: 500;
	src: url('woff2/iosevka-etoile-mediumoblique.woff2') format('woff2'), url('woff/iosevka-etoile-mediumoblique.woff') format('woff'), url('ttf/iosevka-etoile-mediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 500;
	font-style: italic;
	src: url('woff2/iosevka-etoile-mediumitalic.woff2') format('woff2'), url('woff/iosevka-etoile-mediumitalic.woff') format('woff'), url('ttf/iosevka-etoile-mediumitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 600;
	font-style: normal;
	src: url('woff2/iosevka-etoile-semibold.woff2') format('woff2'), url('woff/iosevka-etoile-semibold.woff') format('woff'), url('ttf/iosevka-etoile-semibold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 600;
	font-style: oblique;
	src: url('woff2/iosevka-etoile-semiboldoblique.woff2') format('woff2'), url('woff/iosevka-etoile-semiboldoblique.woff') format('woff'), url('ttf/iosevka-etoile-semiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-weight: 600;
	src: url('woff2/iosevka-etoile-semiboldoblique.woff2') format('woff2'), url('woff/iosevka-etoile-semiboldoblique.woff') format('woff'), url('ttf/iosevka-etoile-semiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 600;
	font-style: italic;
	src: url('woff2/iosevka-etoile-semibolditalic.woff2') format('woff2'), url('woff/iosevka-etoile-semibolditalic.woff') format('woff'), url('ttf/iosevka-etoile-semibolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 700;
	font-style: normal;
	src: url('woff2/iosevka-etoile-bold.woff2') format('woff2'), url('woff/iosevka-etoile-bold.woff') format('woff'), url('ttf/iosevka-etoile-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 700;
	font-style: oblique;
	src: url('woff2/iosevka-etoile-boldoblique.woff2') format('woff2'), url('woff/iosevka-etoile-boldoblique.woff') format('woff'), url('ttf/iosevka-etoile-boldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-weight: 700;
	src: url('woff2/iosevka-etoile-boldoblique.woff2') format('woff2'), url('woff/iosevka-etoile-boldoblique.woff') format('woff'), url('ttf/iosevka-etoile-boldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 700;
	font-style: italic;
	src: url('woff2/iosevka-etoile-bolditalic.woff2') format('woff2'), url('woff/iosevka-etoile-bolditalic.woff') format('woff'), url('ttf/iosevka-etoile-bolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 800;
	font-style: normal;
	src: url('woff2/iosevka-etoile-extrabold.woff2') format('woff2'), url('woff/iosevka-etoile-extrabold.woff') format('woff'), url('ttf/iosevka-etoile-extrabold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 800;
	font-style: oblique;
	src: url('woff2/iosevka-etoile-extraboldoblique.woff2') format('woff2'), url('woff/iosevka-etoile-extraboldoblique.woff') format('woff'), url('ttf/iosevka-etoile-extraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-weight: 800;
	src: url('woff2/iosevka-etoile-extraboldoblique.woff2') format('woff2'), url('woff/iosevka-etoile-extraboldoblique.woff') format('woff'), url('ttf/iosevka-etoile-extraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 800;
	font-style: italic;
	src: url('woff2/iosevka-etoile-extrabolditalic.woff2') format('woff2'), url('woff/iosevka-etoile-extrabolditalic.woff') format('woff'), url('ttf/iosevka-etoile-extrabolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 900;
	font-style: normal;
	src: url('woff2/iosevka-etoile-heavy.woff2') format('woff2'), url('woff/iosevka-etoile-heavy.woff') format('woff'), url('ttf/iosevka-etoile-heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 900;
	font-style: oblique;
	src: url('woff2/iosevka-etoile-heavyoblique.woff2') format('woff2'), url('woff/iosevka-etoile-heavyoblique.woff') format('woff'), url('ttf/iosevka-etoile-heavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-weight: 900;
	src: url('woff2/iosevka-etoile-heavyoblique.woff2') format('woff2'), url('woff/iosevka-etoile-heavyoblique.woff') format('woff'), url('ttf/iosevka-etoile-heavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-weight: 900;
	font-style: italic;
	src: url('woff2/iosevka-etoile-heavyitalic.woff2') format('woff2'), url('woff/iosevka-etoile-heavyitalic.woff') format('woff'), url('ttf/iosevka-etoile-heavyitalic.ttf') format('truetype');
}
