@font-face {
  font-family: "Iosevka Aile Web";
  font-weight: 100;
  font-style: normal;
  font-display: auto;
  src: url("Iosevka-Aile-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile Web";
  font-weight: 200;
  font-style: normal;
  font-display: auto;
  src: url("Iosevka-Aile-Extralight.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile Web";
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  src: url("Iosevka-Aile-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile Web";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url("Iosevka-Aile-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile Web";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: url("Iosevka-Aile-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile Web";
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  src: url("Iosevka-Aile-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile Web";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: url("Iosevka-Aile-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile Web";
  font-weight: 800;
  font-style: normal;
  font-display: auto;
  src: url("Iosevka-Aile-Extrabold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile Web";
  font-weight: 900;
  font-style: normal;
  font-display: auto;
  src: url("Iosevka-Aile-Heavy.woff2") format("woff2");
}
