@font-face {
  font-family: "Iosevka Aile";
  font-weight: 100;
  font-style: normal;
  font-display: auto;
  src: local("Iosevka Aile Thin"), url("font/iosevka-aile-thin.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-weight: 200;
  font-style: normal;
  font-display: auto;
  src: local("Iosevka Aile ExtraLight"), url("font/iosevka-aile-extralight.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  src: local("Iosevka Aile Light"), url("font/iosevka-aile-light.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("Iosevka Aile"), url("font/iosevka-aile-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: local("Iosevka Aile Medium"), url("font/iosevka-aile-medium.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  src: local("Iosevka Aile SemiBold"), url("font/iosevka-aile-semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: local("Iosevka Aile Bold"), url("font/iosevka-aile-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-weight: 800;
  font-style: normal;
  font-display: auto;
  src: local("Iosevka Aile ExtraBold"), url("font/iosevka-aile-extrabold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-weight: 900;
  font-style: normal;
  font-display: auto;
  src: local("Iosevka Aile Heavy"), url("font/iosevka-aile-heavy.woff2") format("woff2");
}

:root {
  --background: #161616;
  --foreground: #f9f9fa;

  --font: "Iosevka Aile", "SFMono-Regular", Consolas, Menlo,
    monospace, -apple-system, BlinkMacSystemFont;
  --light: 200;
  --normal: 400;
  --heavy: 400;

  --black: #0c0c0c;
  --blue: #57c7ff;
  --cyan: #9aedfe;
  --green: #50fa7b;
  --magenta: #ff6ac1;
  --orange: #ff8906;
  --red: #ff5555;
  --white: #f8f8f2;
  --yellow: #f3f99d;

  --firefox: #ff9400;
  --safari: #399df5;

  --branch: 1px solid #a7a9be;
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html,
body {
  font-size: 24px;
}

@media only screen and (min-width: 768px) {
  html,
  body {
    font-size: 32px;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--background);
  color: var(--foreground);
  font-family: var(--font);
  font-weight: var(--light);
  /* margin: 0;
  width: 100vw;
  min-height: 100vh; */
}

main {
  margin: 2vh 0;
}

strong {
  font-weight: var(--heavy);
}

h1 {
  color: var(--red);
  display: inline;
  font-family: var(--font);
  font-size: 1rem;
  font-weight: var(--heavy);
  user-select: none;
}

a,
a:visited {
  font-family: var(--font);
  font-size: 1rem;
  color: var(--foreground);
  text-decoration: none;
  outline: none;
  padding: 0 4px;
}

a:hover,
a:focus {
  color: var(--black);
  background: var(--green);
  font-weight: var(--normal);
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 2.9ch;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.tree > ul {
  margin: 0;
  padding-left: 1.25rem;
}

li {
  position: relative;
  max-width: 25ch;
  word-wrap: break-word;
}

li.hideChildren > ul {
  display: none;
}

li::before,
li::after {
  content: "";
  position: absolute;
  left: -1rem;
}

li::before {
  border-top: var(--branch);
  top: 0.75rem;
  width: 0.75rem;
}

li::after {
  border-left: var(--branch);
  height: 100%;
  top: 0.25rem;
}

li:last-child::after {
  height: 0.5rem;
}

li h1 {
  cursor: pointer;
}
