@font-face {
  font-family: "Iosevka Aile Web";
  font-weight: 100;
  font-style: normal;
  font-display: auto;
  src: url("/fonts/iosevka-aile/iosevka-aile-thin.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile Web";
  font-weight: 200;
  font-style: normal;
  font-display: auto;
  src: url("/fonts/iosevka-aile/iosevka-aile-extralight.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile Web";
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  src: url("/fonts/iosevka-aile/iosevka-aile-light.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile Web";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url("/fonts/iosevka-aile/iosevka-aile-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile Web";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: url("/fonts/iosevka-aile/iosevka-aile-medium.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile Web";
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  src: url("/fonts/iosevka-aile/iosevka-aile-semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile Web";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: url("/fonts/iosevka-aile/iosevka-aile-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile Web";
  font-weight: 800;
  font-style: normal;
  font-display: auto;
  src: url("/fonts/iosevka-aile/iosevka-aile-extrabold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile Web";
  font-weight: 900;
  font-style: normal;
  font-display: auto;
  src: url("/fonts/iosevka-aile/iosevka-aile-heavy.woff2") format("woff2");
}

:root {
  --font: "Iosevka Aile Web", "SFMono-Regular", Consolas, Menlo, monospace;
  --background: #0f0e17;
  --foreground: #f8f8f2;

  --light: 200;
  --normal: 400;
  --heavy: 600;

  --black: ;
  --red: #ff5555;
  --green: #50fa7b;
  --yellow: #f1fa8c;
  --blue: #6272a4;
  --magenta: #bd93f9;
  --cyan: #8be9fd;
  --white: #f8f8f2;

  --pink: #ff79c6;
  --orange: #ff8906;
  --branch: 1px solid #a7a9be;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 24px;
}

@media only screen and (min-width: 768px) {
  html,
  body {
    font-size: 32px;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font);
  display: flex;
  justify-content: center;
  font-weight: var(--light);
}

strong {
  font-weight: var(--heavy);
}

h1 {
  display: inline;
  font-family: var(--font);
  font-size: 1rem;
  font-weight: var(--normal);
  color: var(--red);
}

a,
a:visited {
  font-family: var(--font);
  font-size: 1rem;
  color: var(--foreground);
  text-decoration: none;
  outline: none;
}

a:hover,
a:focus {
  color: var(--background);
  background: var(--green);
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 2.5rem;
}

ul h1 {
  cursor: pointer;
}

.tree > ul {
  margin: 0;
  padding-left: 1rem;
}

li {
  position: relative;
}

li.hideChildren > ul {
  display: none;
}

li::before,
li::after {
  content: "";
  position: absolute;
  left: -0.75rem;
}

li::before {
  border-top: var(--branch);
  top: 0.75rem;
  width: 0.5rem;
}

li::after {
  border-left: var(--branch);
  height: 100%;
  top: 0.25rem;
}

li:last-child::after {
  height: 0.5rem;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input[type="range"] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
