@font-face {
  font-family: "Iosevka Aile";
  font-weight: 100;
  font-style: normal;
  font-display: auto;
  src: url("fonts/iosevka-aile/Iosevka-Aile-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-weight: 200;
  font-style: normal;
  font-display: auto;
  src: url("fonts/iosevka-aile/Iosevka-Aile-Extralight.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  src: url("fonts/iosevka-aile/Iosevka-Aile-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url("fonts/iosevka-aile/Iosevka-Aile-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: url("fonts/iosevka-aile/Iosevka-Aile-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  src: url("fonts/iosevka-aile/Iosevka-Aile-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: url("fonts/iosevka-aile/Iosevka-Aile-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-weight: 800;
  font-style: normal;
  font-display: auto;
  src: url("fonts/iosevka-aile/Iosevka-Aile-Extrabold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-weight: 900;
  font-style: normal;
  font-display: auto;
  src: url("fonts/iosevka-aile/Iosevka-Aile-Heavy.woff2") format("woff2");
}

:root {
  --background: #0f0e17;
  --foreground: #f8f8f2;

  --font: "Iosevka Aile", "SFMono-Regular", Consolas, Menlo, monospace;
  --light: 200;
  --normal: 400;
  --heavy: 400;

  --black: ;
  --red: #ff5555;
  --green: #50fa7b;
  --yellow: #f1fa8c;
  --blue: #6272a4;
  --magenta: #bd93f9;
  --cyan: #8be9fd;
  --white: #f8f8f2;

  --pink: #ff79c6;
  --orange: #ff8906;

  --branch: 1px solid #a7a9be;
}

html {
  overflow-x: hidden;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html,
body {
  font-size: 24px;
}

@media only screen and (min-width: 768px) {
  html,
  body {
    font-size: 32px;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  background: var(--background);
  box-sizing: border-box;
  color: var(--foreground);
  font-family: var(--font);
  font-weight: var(--light);
  /* width: 100vw;
  min-height: 100vh; */
}

main {
  margin: 2.5vh 0;
}

strong {
  font-weight: var(--heavy);
}

h1 {
  display: inline;
  font-family: var(--font);
  font-size: 1rem;
  font-weight: var(--normal);
  color: var(--red);
  user-select: none;
  cursor: pointer;
}

a,
a:visited {
  font-family: var(--font);
  font-size: 1rem;
  color: var(--foreground);
  text-decoration: none;
  outline: none;
}

a:hover,
a:focus {
  color: var(--background);
  background: var(--green);
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 3ch;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.tree > ul {
  margin: 0;
  padding-left: 1.25rem;
}

li {
  position: relative;
  max-width: 25ch;
  word-wrap: break-word;
}

li.hideChildren > ul {
  display: none;
}

li::before,
li::after {
  content: "";
  position: absolute;
  left: -1rem;
}

li::before {
  border-top: var(--branch);
  top: 0.75rem;
  width: 0.75rem;
}

li::after {
  border-left: var(--branch);
  height: 100%;
  top: 0.25rem;
}

li:last-child::after {
  height: 0.5rem;
}
